<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>(☝️ ՞ਊ ՞)☝️ｳｲｰﾝ</string>
		<key>shortcut</key>
		<string>うぃーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼( 'ω')／ｳｵｵｵｵｱｱｱｰｰｰｯ</string>
		<key>shortcut</key>
		<string>うおお</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▂▅▇█▓▒░(’ω’)░▒▓█▇▅▂</string>
		<key>shortcut</key>
		<string>うわあああ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑•̀ㅂ•́)و✧</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(๑و•̀Δ•́)و</string>
		<key>shortcut</key>
		<string>ぐっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>_(:3」∠)_</string>
		<key>shortcut</key>
		<string>ぐったり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|彡 ｻｯ</string>
		<key>shortcut</key>
		<string>さっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ･`д･´)</string>
		<key>shortcut</key>
		<string>しゃきーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(っ'-')╮ =͟͟͞͞
</string>
		<key>shortcut</key>
		<string>しゅっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ´•̥̥̥ω•̥̥̥`)</string>
		<key>shortcut</key>
		<string>しょぼーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ˘ω˘)</string>
		<key>shortcut</key>
		<string>すやぁ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>( ✹‿✹ )◯◯だァーーーーーーーーーーー！！！！！！！！！！！（ﾄｩﾙﾛﾛﾃｯﾃﾚｰｗｗｗｗｗｗﾃﾚﾃｯﾃﾃｗｗｗｗﾃﾃｰｗｗｗ）ｗｗｗﾄｺｽﾞﾝﾄｺﾄｺｼﾞｮﾝｗｗｗｽﾞｽﾞﾝｗｗｗｗｗ（ﾃﾃﾛﾘﾄﾃｯﾃﾛﾃﾃｰｗｗｗｗ）</string>
		<key>shortcut</key>
		<string>だぁー</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>✌('ω'✌ )三✌('ω')✌三( ✌'ω')✌</string>
		<key>shortcut</key>
		<string>たのしい</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>|дﾟ) ﾁﾗｯ</string>
		<key>shortcut</key>
		<string>ちらっ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>(´･_･`)</string>
		<key>shortcut</key>
		<string>つらぽよ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>＼＼\\٩( 'ω' )و//／／ﾃﾃｰﾝ</string>
		<key>shortcut</key>
		<string>ててーん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>₍₍⁽⁽(ી( ･◡･ )ʃ)₎₎⁾⁾</string>
		<key>shortcut</key>
		<string>わいわい</string>
	</dict>
</array>
</plist>
